body{
    display: flex;
    justify-content: center;
    position: center;
    min-height: 100vh;
    background:  #091921;
}

#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
    box-shadow: 10px 0 10px #fff000;
    background-color: #091921;
    border-radius: 50%;
    left: -30%;
}

#hour, #minute, #second{
    position: absolute;
    border-radius: 10px; 
    transform-origin: bottom;

}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
    background-color: #fff000;
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
    background-color: aliceblue;
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    background-color: #FD2E62;
   
    
}

/*--------------------------------------------------------------------------*/
.datetime{
    color:#fff;
    background-color: #091921;
    font-family: "Segoe UI", sans-serif;
    width: 400px;
    height: 150px;
    padding: 15px 10px;
    border: 3px solid #2e94e3;
    border-radius: 25px;
    position: absolute;
    left: 55%;
    bottom: 50%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255,255,255,0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover{
    background: linear-gradient( #2e94e3 , #e91e63);
    box-shadow: 0 0 30px #2e94e3;
}
.time{
    color: #fff000;
    right: 50%;
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background: #2e94e3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
    height: 40px;
}

